/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***ALL IMPORTS***/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /*### Primary Colors*/

--Purple-600: hsl(246, 80%, 60%);

--Orange300-work: hsl(15, 100%, 70%);
--Blue300-play: hsl(195, 74%, 62%);
--Pink400-study: hsl(348, 100%, 68%);
--Green400-exercise: hsl(145, 58%, 55%);
--Purple700-social: hsl(264, 64%, 52%);
--Yellow300-selfcare: hsl(43, 84%, 65%);

/*### Neutral Colors*/

--Navy-950: hsl(226, 43%, 10%);
--Navy-900: hsl(235, 46%, 20%);
--Purple-500: hsl(235, 45%, 61%);
--Navy-200: hsl(236, 100%, 87%);

}

/*### Global Styles*/

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: var(--Navy-950);
    color: white;
    padding: 40px;
}

.container {
    max-width: 1116px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.left-side {
    background: var(--Navy-900);
    width: 255px;
    border-radius: 15px;
}

.report-for {
    background: var(--Purple-600);
    padding: 32px 32px 133px 32px;
    border-radius: 15px;
}

.report-for img {
    border-radius: 50%;
    width: 78px;
    border: 2px solid white;
    margin-bottom: 40px;
}

.report-for p:first-of-type {
    color: var(--Navy-200);
}

.report-for p:last-of-type {
    font-size: 42px;
    margin-top: 8px;
}

.report-timeframes {
    margin:32px;
    color: var(--Purple-500);
    line-height: 32px;
    padding-bottom: 32px;
   
}

