/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***ALL IMPORTS***/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Primary Colors */
    --Purple-600: hsl(246, 80%, 60%);
    --Orange300-work: hsl(15, 100%, 70%);
    --Blue300-play: hsl(195, 74%, 62%);
    --Pink400-study: hsl(348, 100%, 68%);
    --Green400-exercise: hsl(145, 58%, 55%);
    --Purple700-social: hsl(264, 64%, 52%);
    --Yellow300-selfcare: hsl(43, 84%, 65%);

    /* Neutral Colors */
    --Navy-950: hsl(226, 43%, 10%);
    --Navy-900: hsl(235, 46%, 20%);
    --Purple-500: hsl(235, 45%, 61%);
    --Navy-200: hsl(236, 100%, 87%);
}

/* Global Styles */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: var(--Navy-950);
    color: white;
    padding: 40px;
}

.container {
    max-width: 1116px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Left Side Design */
.left-side {
    background: var(--Navy-900);
    width: 255px;
    border-radius: 15px;
    margin-right: 32px;
}

.report-for {
    background: var(--Purple-600);
    padding: 32px 32px 133px 32px;
    border-radius: 15px;
}

.report-for img {
    border-radius: 50%;
    width: 78px;
    border: 2px solid white;
    margin-bottom: 40px;
}

.report-for p:first-of-type {
    color: var(--Navy-200);
}

.report-for p:last-of-type {
    font-size: 42px;
    margin-top: 8px;
}

.report-timeframes {
    margin: 32px;
    color: var(--Purple-500);
    line-height: 32px;
    padding-bottom: 32px;  
}

/* Right Side Design */
.time-tracking-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(244px, auto);
    gap: 32px;
}

/* COMMON CARD STYLES */
.time-tracking-card__toprow--work,
.time-tracking-card__toprow--play,
.time-tracking-card__toprow--study,
.time-tracking-card__bottomrow--exercise,
.time-tracking-card__bottomrow--social,
.time-tracking-card__bottomrow--selfcare {
    overflow: hidden;
    border-radius: 15px;
    width: 255px;
}

/* Icon Containers */
.time-tracking-card__toprow--work--icon--container,
.time-tracking-card__toprow--play--icon--container,
.time-tracking-card__toprow--study--icon--container,
.time-tracking-card__bottomrow--exercise--icon--container,
.time-tracking-card__bottomrow--social--icon--container,
.time-tracking-card__bottomrow--selfcare--icon--container {
    height: 160px;
    overflow: hidden;
    position: relative;
}

.time-tracking-card__toprow--work--icon--container { background: var(--Orange300-work); }
.time-tracking-card__toprow--play--icon--container { background: var(--Blue300-play); }
.time-tracking-card__toprow--study--icon--container { background: var(--Pink400-study); }
.time-tracking-card__bottomrow--exercise--icon--container { background: var(--Green400-exercise); }
.time-tracking-card__bottomrow--social--icon--container { background: var(--Purple700-social); }
.time-tracking-card__bottomrow--selfcare--icon--container { background: var(--Yellow300-selfcare); }

/* Icon Images */
.time-tracking-card__toprow--work--icon--container--icon,
.time-tracking-card__toprow--play--icon--container--icon,
.time-tracking-card__toprow--study--icon--container--icon,
.time-tracking-card__bottomrow--exercise--icon--container--icon,
.time-tracking-card__bottomrow--social--icon--container--icon,
.time-tracking-card__bottomrow--selfcare--icon--container--icon {
    display: block;
    position: absolute;
}

.time-tracking-card__toprow--work--icon--container--icon {
    left: 159.58px;
    top: -10.91px;
    width: 78px;
    height: 78px;
}

.time-tracking-card__toprow--play--icon--container--icon {
    left: 154px;
    top: -14.4px;
    width: 90px;
    height: 90px;
}

.time-tracking-card__toprow--study--icon--container--icon {
    left: 159.93px;
    top: -6.05px;
    width: 78px;
    height: 78px;
}

.time-tracking-card__bottomrow--exercise--icon--container--icon {
    left: 157.72px;
    top: -0.42px;
    width: 79.65px;
    height: 53.48px;
}

.time-tracking-card__bottomrow--social--icon--container--icon {
    left: 167.92px;
    top: -15px;
    width: 73.6px;
    height: 100px;
}

.time-tracking-card__bottomrow--selfcare--icon--container--icon {
    left: 150.21px;
    top: -18.79px;
    width: 72px;
    height: 66px;
}

/* Data Sections */
.time-tracking-card__toprow--work--data,
.time-tracking-card__toprow--play--data,
.time-tracking-card__toprow--study--data,
.time-tracking-card__bottomrow--exercise--data,
.time-tracking-card__bottomrow--social--data,
.time-tracking-card__bottomrow--selfcare--data {
    background: var(--Navy-900);
    border-radius: 15px;
    padding: 32px;
    position: relative;
    margin-top: -117px;
    z-index: 1;
}

/* Title Containers */
.time-tracking-card__toprow--work--data--title--container,
.time-tracking-card__toprow--play--data--title--container,
.time-tracking-card__toprow--study--data--title--container,
.time-tracking-card__bottomrow--exercise--data--title--container,
.time-tracking-card__bottomrow--social--data--title--container,
.time-tracking-card__bottomrow--selfcare--data--title--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

/* Titles */
.time-tracking-card__toprow--work--data--title,
.time-tracking-card__toprow--play--data--title,
.time-tracking-card__toprow--study--data--title,
.time-tracking-card__bottomrow--exercise--data--title,
.time-tracking-card__bottomrow--social--data--title,
.time-tracking-card__bottomrow--selfcare--data--title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

/* Ellipsis Images */
.time-tracking-card__toprow--work--data--title--ellipsis,
.time-tracking-card__toprow--play--data--title--ellipsis,
.time-tracking-card__toprow--study--data--title--ellipsis,
.time-tracking-card__bottomrow--exercise--data--title--ellipsis,
.time-tracking-card__bottomrow--social--data--title--ellipsis,
.time-tracking-card__bottomrow--selfcare--data--title--ellipsis {
    width: 21px;
    height: 5px;
    cursor: pointer;
}

/* Hours */
.time-tracking-card__toprow--work--data--hours,
.time-tracking-card__toprow--play--data--hours,
.time-tracking-card__toprow--study--data--hours,
.time-tracking-card__bottomrow--exercise--data--hours,
.time-tracking-card__bottomrow--social--data--hours,
.time-tracking-card__bottomrow--selfcare--data--hours {
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Previous Hours */
.time-tracking-card__toprow--work--data--title--previoushours,
.time-tracking-card__toprow--play--data--title--previoushours,
.time-tracking-card__toprow--study--data--title--previoushours,
.time-tracking-card__bottomrow--exercise--data--title--previoushours,
.time-tracking-card__bottomrow--social--data--title--previoushours,
.time-tracking-card__bottomrow--selfcare--data--title--previoushours {
    font-size: 15px;
    font-weight: 400;
    color: var(--Navy-200);
}

/* Start of The Media Queries */


/* Tablet (768px - 1024px) */
@media (max-width: 1116px) {
    .container {
        grid-template-columns: 1fr;
        gap: 32px;
        max-width: 90%;
    }
    
    .left-side {
        width: 100%;
        margin-right: 0;
    }
    
    .time-tracking-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .time-tracking-card__toprow--work,
    .time-tracking-card__toprow--play,
    .time-tracking-card__toprow--study,
    .time-tracking-card__bottomrow--exercise,
    .time-tracking-card__bottomrow--social,
    .time-tracking-card__bottomrow--selfcare {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
}

/* Mobile (375px - 767px) */
@media (max-width: 768px) {
    body {
        padding: 20px;
    }
    
    .time-tracking-cards {
        grid-template-columns: 1fr;
    }
    
    .report-for {
        display: flex;
        align-items: center;
        padding: 32px;
    }
    
    .report-for img {
        margin-bottom: 0;
        margin-right: 20px;
    }
    
    .report-timeframes {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        padding-bottom: 20px;
    }
    
    .time-tracking-card__toprow--work--data--hours {
        font-size: 42px;
    }
}
